    body
    {
    background:#404040
    }

    .glyphicon.glyphicon-trash 
    {
    font-size: 85%;
    width:100px;
    heigh: 100px;
    width:100%;
    }

    .fileinput-button 
    {
    position: relative;
    overflow: hidden;
    display: inline-block;
    }

    .fileinput-button input 
    {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
    }

    .file
    {
    width:100px;height:100px;
    border:1px solid #aaaaaa;
     /*  padding-top: 20px;
    margin-top:20px;
    text-align:center; */
    }
    #deleteZone 
    {
    padding:10px;
    border:1px solid #aaaaaa;
    }

